@font-face {
  font-family: Futura-Medium;
  src: url("../public/fonts/futura/Futura-Medium-bt.ttf");
}
@font-face {
  font-family: Futura-Light;
  src: url("../public/fonts/futura/Futura-Light-bt.ttf");
}
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  -webkit-background-position: center center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-attachment: scroll;
  -webkit-background-size: cover;

  -moz-background-position: center center;
  -moz-background-repeat: no-repeat;
  -moz-background-attachment: scroll;
  -moz-background-size: cover;

  -o-background-position: center center;
  -o-background-repeat: no-repeat;
  -o-background-attachment: scroll;
  -o-background-size: cover;
  height: 300vh;
  flex-direction: column;
  transition: all 0.2s ease-out;
  padding-top: 200px;
  padding-bottom: 200px;
}

.text {
  font-size: 70px;
  color: #ffffff99;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all 0.5s ease;
  height: 50vh;
  cursor: pointer;
  font-family: Futura-Light;
  font-weight: 600;
}

.text:hover {
  transform: scale(1.5);
  color: #ffffff;
}
.text p {
  text-align: center;
  font-size: 20px;
  color: #ffffff8a;
}
.middle {
  font-size: 130px;
}

.zoom {
  transform: scale(1.5);
  color: #ffffff;
}

@media (max-width: 800px) {
  .text {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .zoom {
    transform: scale(1.2);
  }
}
@media (max-width: 500px) {
  .text {
    font-size: 30px;
  }
  .zoom {
    transform: scale(1.2);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    -webkit-background-position: center center;
    -webkit-background-repeat: no-repeat;
    -webkit-background-attachment: scroll;
    -webkit-background-size: cover;

    -moz-background-position: center center;
    -moz-background-repeat: no-repeat;
    -moz-background-attachment: scroll;
    -moz-background-size: cover;

    -o-background-position: center center;
    -o-background-repeat: no-repeat;
    -o-background-attachment: scroll;
    -o-background-size: cover;
  }
}
